<ion-header>
  <ion-toolbar style=" color: white; --background: linear-gradient( rgb(45 152 123 / 85%) 100%, rgb(130 179 34) 100%);">
    <ion-title>Creat Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Company Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <fieldset class="field_set">
    <legend>Type of Organization</legend>
    <ion-select interface="popover" placeholder="Genral " value="Trading business" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown" selected-text>Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </fieldset>

  <fieldset class="field_set">
    <legend>Financial Year Start</legend>
    <ion-select interface="popover" placeholder="July " value="Trading business" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown" selected-text>Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </fieldset>
 
  <fieldset class="field_set">
    <legend>Country</legend>
    <ion-select interface="popover" placeholder="Pakistan" value="Trading business" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown" selected-text>Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </fieldset>
  


  <fieldset class="field_set">
    <legend>Tiemzone</legend>
    <ion-select interface="popover" placeholder="Pakistan UTC +05:00" value="Trading business" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown" selected-text>Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </fieldset>

  <fieldset class="field_set">
    <legend>City</legend>
    <ion-select interface="popover" placeholder="Lahore" value="Trading business" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown" selected-text>Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </fieldset>

  <fieldset class="field_set">
    <legend>Home Currency</legend>
    <ion-select interface="popover" placeholder="Pakistani Rupee" value="Trading business" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown" selected-text>Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </fieldset>


  <h6 style="text-align: center; color: #20382ce6;margin-top: 10%;">By clicking 'Create button' button you agree to our</h6>
  <a href="#" class="l-pasword">Terms and conditions </a>

  <a href="#">
    <ion-button class="startbutton" size="" shape="round">Create Company</ion-button>
  </a>



</ion-content>