<ion-header>
  <ion-toolbar  style=" color: white; --background: linear-gradient( rgb(45 152 123 / 85%) 100%, rgb(130 179 34) 100%);">
    <ion-title>Sale Quotations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input type="text" placeholder="Search" class="shadow1"><ion-icon name="search-sharp" slot="start" class="icn-input"></ion-icon></ion-input> 
  <ion-card class="card_box">
    <ion-card-header class="card_header">
      <ion-card-title class="name_tittle">Muhammad Adil</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span">Date:</span> 06-07-2021</ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Expiry Date:</span> 06-07-2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">7792</ion-card-subtitle>
      <ion-card-title class="card_title_amount">Rs 80,000,00</ion-card-title>
      <ion-card-subtitle class="card_subtitle_aprovel">Approved</ion-card-subtitle>
    </ion-card-content>
  </ion-card>



  <ion-card class="card_box_2">
    <ion-card-header class="card_header">
      <ion-card-title class="name_tittle">Muhammad Adil</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span">Date:</span> 06-07-2021</ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Expiry Date:</span> 06-07-2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">7792</ion-card-subtitle>
      <ion-card-title class="card_title_amount">Rs 80,000,00</ion-card-title>
      <ion-card-subtitle class="card_subtitle_aprovel">Delivered</ion-card-subtitle>
    </ion-card-content>
  </ion-card>


  <ion-card class="card_box_2">
    <ion-card-header class="card_header">
      <ion-card-title class="name_tittle">Muhammad Adil</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span">Date:</span> 06-07-2021</ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Expiry Date:</span> 06-07-2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">7792</ion-card-subtitle>
      <ion-card-title class="card_title_amount">Rs 80,000,00</ion-card-title>
      <ion-card-subtitle class="card_subtitle_aprovel">Ordered</ion-card-subtitle>
    </ion-card-content>
  </ion-card>


  <ion-card class="card_box_2">
    <ion-card-header class="card_header">
      <ion-card-title class="name_tittle">Muhammad Adil</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span">Date:</span> 06-07-2021</ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Expiry Date:</span> 06-07-2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">7792</ion-card-subtitle>
      <ion-card-title class="card_title_amount">Rs 80,000,00</ion-card-title>
      <ion-card-subtitle class="card_subtitle_aprovel">invoiced</ion-card-subtitle>
    </ion-card-content>
  </ion-card>


  <ion-card class="card_box_2">
    <ion-card-header class="card_header">
      <ion-card-title class="name_tittle">Muhammad Adil</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span">Date:</span> 06-07-2021</ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Expiry Date:</span> 06-07-2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">7792</ion-card-subtitle>
      <ion-card-title class="card_title_amount">Rs 80,000,00</ion-card-title>
      <ion-card-subtitle class="card_subtitle_aprovel">Draft</ion-card-subtitle>
    </ion-card-content>
  </ion-card>


  
</ion-content>
