<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="border-bottom: 1px solid black;"><h3>Sale</h3></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="card_box_2">
    
    <ion-card-header class="card_header"><div class="icn-box1">
      <ion-icon name="calendar-sharp"></ion-icon>
    </div>
      <ion-card-title class="name_tittle">Today</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span"></span> </ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Rs 0</span></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">yesterday</ion-card-subtitle>
      
      <ion-card-subtitle class="card_subtitle_aprovel">Rs 0</ion-card-subtitle>
      <!-- <ion-icon style="position: absolute;right: 1%;top: 15%;" name="arrow-up-sharp"></ion-icon> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="card_box_2">
    
    <ion-card-header class="card_header"><div class="icn-box2">
      <ion-icon name="calendar-sharp"></ion-icon>
    </div>
      <ion-card-title class="name_tittle">Today</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span"></span> </ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Rs 0</span></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">yesterday</ion-card-subtitle>
      
      <ion-card-subtitle class="card_subtitle_aprovel">Rs 0</ion-card-subtitle>
      <!-- <ion-icon style="position: absolute;right: 1%;top: 15%;" name="arrow-up-sharp"></ion-icon> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="card_box_2">
    
    <ion-card-header class="card_header"><div class="icn-box3">
      <ion-icon name="calendar-sharp"></ion-icon>
    </div>
      <ion-card-title class="name_tittle">Today</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span"></span> </ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Rs 0</span></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">yesterday</ion-card-subtitle>
      
      <ion-card-subtitle class="card_subtitle_aprovel">Rs 0</ion-card-subtitle>
      <!-- <ion-icon style="position: absolute;right: 1%;top: 15%;" name="arrow-up-sharp"></ion-icon> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="card_box_2">
    
    <ion-card-header class="card_header"><div class="icn-box4">
      <ion-icon name="calendar-sharp"></ion-icon>
    </div>
      <ion-card-title class="name_tittle">Today</ion-card-title>
      <ion-card-subtitle class="span_subtitle"> <span class="subtitle_span"></span> </ion-card-subtitle>
      <ion-card-subtitle class="span_subtitle" > <span class="subtitle_span">Rs 0</span></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="card_content">
      <ion-card-subtitle class="card_subtitle_product_num">yesterday</ion-card-subtitle>
      
      <ion-card-subtitle class="card_subtitle_aprovel">Rs 0</ion-card-subtitle>
      <!-- <ion-icon style="position: absolute;right: 1%;top: 15%;" name="arrow-up-sharp"></ion-icon> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img src="../../assets/images/0091cfcf-8e9d-4b07-8d26-11a2875177a2.jfif" alt="">
    </ion-card-content>
  </ion-card>

  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
>
    </tr>
    <tr>
      <td>Ernst Handel</td>
      <td>Roland Mendel</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>Helen Bennett</td>
    </tr>
    <tr>
      <td>Laughing Bacchus Winecellars</td>
      <td>Yoshi Tannamuri</td>
    </tr>
    <tr>
      <td>Magazzini Alimentari Riuniti</td>
      <td>Giovanni Rovelli</td>
    </tr>
  </table>
</ion-content>
