<ion-content>
  <div class="round">
    <h1 style="text-align: center;">LOGO</h1>
  </div>
  
  <h6 style="text-align: center; color: #20382ce6; margin-top: 20px;">Please confirm your email address and we'll send you a link to reset your password</h6>
  
  <ion-input type="text" placeholder="Email" class="shadow1"><ion-icon name="mail" slot="start" class="icn-input"></ion-icon></ion-input> 
  
  
  <a href="#">
      <ion-button class="startbutton" size="" shape="round">Forgot password</ion-button>
      
  </a>
  <h6 style="text-align: center; color: #20382ce6;margin-top: 50px; margin-bottom: 10%;">Already have an account? <span><a href="#" style="font-weight: bold;color: #99ada2;">Sign in</a></span></h6>
  

  
  
  </ion-content>
